@model orgsZaprModel


<h4>Просмотр информации</h4>
<ul>
    <li><b>Название</b> @Model.Name</li>
    <li><b>Электронный адрес</b> @Model.e_mail</li>    
    <li><b>Почтовый адрес</b> @Model.PostAddress</li>
    <li><b>Телефон</b> @Model.Telephone</li>
</ul>