@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Удаление персональных данных";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

 <h2 class="h2 nav-green">@ViewData["Title"]</h2>
<div class="alert alert-warning" role="alert">
    <p>
        <strong>Удаление этих данных приведет к безвозвратному удалению учетной записи <b>@Model.Input.userName</b>!!!</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <input type="hidden" asp-for="Input.id" />
            <div class="form-group">
                <label asp-for="Input.Password">Пароль администратора</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="btn btn-danger" type="submit">Удалить пользователя @Model.Input.userName</button>
        <a class="btn btn-sm" asp-area="admin" asp-controller="roles" asp-action="userlist">Отмена</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}