<div class="form-row" id="viewColumnGroup">
    <div class="form-check form-check-inline">        
        <label class="form-check-label"><input class="form-check-input" checked="checked" type="checkbox" value="DocNo"> Номер</label>
    </div>
    <div class="form-check form-check-inline">        
        <label class="form-check-label"><input class="form-check-input" checked="checked" type="checkbox" value="LName"> Заявитель</label>
    </div>
    <div class="form-check form-check-inline">        
        <label class="form-check-label"><input class="form-check-input" checked="checked" type="checkbox" value="PhoneNo"> Телефон</label>
    </div>
    <div class="form-check form-check-inline">        
        <label class="form-check-label"><input class="form-check-input" checked="checked" type="checkbox" value="Address"> Адрес</label>
    </div>
    <div class="form-check form-check-inline">        
        <label class="form-check-label"><input class="form-check-input" checked="checked" type="checkbox" value="GettingDate"> Обращение</label>
    </div>
    <div class="form-check form-check-inline">        
        <label class="form-check-label"><input class="form-check-input" checked="checked" type="checkbox" value="OutDeptDate"> Передали в отдел</label>
    </div>
    <div class="form-check form-check-inline">        
        <label class="form-check-label"><input class="form-check-input" checked="checked" type="checkbox" value="ReturnInDeptDate"> Вернули из отдела</label>
    </div>
    <div class="form-check form-check-inline">        
        <label class="form-check-label"><input class="form-check-input" checked="checked" type="checkbox" value="IssueDate"> Выдали</label>
    </div>
    <div class="form-check form-check-inline">        
        <label class="form-check-label"><input class="form-check-input" checked="checked" type="checkbox" value="MustBeReady"> Срок готовности</label>
    </div>
    <div class="form-check form-check-inline">        
        <label class="form-check-label"><input class="form-check-input" checked="checked" type="checkbox" value="Org"> Исполнитель</label>
    </div>
    <div class="form-check form-check-inline">        
        <label class="form-check-label"><input class="form-check-input" checked="checked" type="checkbox" value="Doc"> Номер процедуры</label>
    </div>
    <div class="form-check form-check-inline">        
        <label class="form-check-label"><input class="form-check-input" checked="checked" type="checkbox" value="Reg"> Регистратор</label>
    </div>
    <div class="form-check form-check-inline">        
        <label class="form-check-label"><input class="form-check-input" checked="checked" type="checkbox" value="Vid"> Решение</label>
    </div>
    <div class="form-check form-check-inline">        
        <label class="form-check-label"><input class="form-check-input" type="checkbox" value="Notes"> Комментарии</label>
    </div>
    <div class="form-check form-check-inline">        
        <label class="form-check-label"><input class="form-check-input" type="checkbox" value="DateSsolutions"> Дата решения</label>
    </div>
</div>